body {
  background-color: rgb(211, 210, 210);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

header{
  background-color:silver;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
 
  margin:0 auto;
  margin-bottom: 5px;
}
td{
  border:1px solid black;
  min-width: 330px;

}

 th {
  min-width: auto;
  border: 1px solid #000000;
  text-align: left;
  color: white;
  
  justify-content: center;

}

.safasuri{
  min-width: 80px;
 
}

tr:nth-child(even) {
  background-color: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}




.card-text {
  color: white;
  text-align: center;
}

.card-title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
  bottom: 0px;
}


.bakuri {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  left: 10px;
  bottom: 5px;
  position: relative;
}


.bolo {
  background-color: rgb(90, 62, 110);
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 400px;
  bottom: 0px;
  width: 100%;
  height: 95px;
  overflow: hidden;

}



.search {
  position: block;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  width: auto;

}



.saertodiv {
  border: 3px solid black;
  display: flex;
  float: left;
  flex-direction: row-reverse;
  overflow: hidden;
  position: relative;
  width: 47%;
  height: 200px;
  margin-top: 55px;
  margin-left: 20px;
  background-color: transparent;
}

.namediv {
  align-items: center;
  order: 3;
  color: rgba(255, 0, 0, 0.685);
  font-weight: bold;
  margin: auto;
  padding-right: 15px;
  font-size: 30px;
}
.descriptiondiv {
  font-size: 20px;
  color: white;
  order: 2;
  align-items: center;
  margin: auto;
}
.pricediv {
  font-size: 40px;
  order: 5;
  color: white;
}
.imgdiv {
  margin: auto;
  order: 4;
  width: 190px;
  height: auto;
  position: relative;
}
.b {
  display: block;
}
.image {
  height: 100%;
  width: 110px;
  position: relative;
}

.yuti{
  order: 1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
 
}
.shida{
  border-radius: 10px;
  margin:40px 30px 30px 30px;
  flex-grow: 1;
  flex-basis: 245px;
  position: relative;
  box-shadow:0 0px 20px 10px rgb(0, 0, 0);
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border:1px solid black;
  overflow: hidden;
  
}
.shida:hover{
  border:1px solid rgb(247, 0, 0);
  transform:scale(1.25);
  box-shadow:0px 0px 10px 10px rgb(236, 92, 92);
}

.brendi{
  font-size: 25px;
  display: flex;
  justify-content: center;
  order:2;
  text-align: center;
}
.picture{
  position: relative;
  display: flex;
  justify-content: center;
  margin:0 auto;
  height: 190px;
  width: auto;
  order:3;
}
.fasi{
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin:0 auto;
  order:3;
}
.yidva{
  
  font-size: 24px;
  display: flex;
  justify-content: center;
  position: relative;
  margin:0 auto;
  min-width: 60%;
  border-radius: 25px;
  border:1.5px solid rgb(54, 54, 54);
  background-color: rgba(54, 54, 54, 0);
  color:rgb(0, 0, 0);
  
  font-weight: bold;
  transition: 0.6s;
  order:4;
  bottom:0px;

}
.yidva:hover{
  border-radius: 0px;
  min-width: 100%;
  box-shadow:0px 20px 30px 7px rgb(0, 0, 0);
}

.tanxa{
  font-size: 24px;
  position: absolute;
  border-radius: 25px;
  border:1.5px solid black;
  color:rgb(0, 0, 0);
  font-weight: bold;
  transition: 0.8s;
  bottom: 0px;
  margin-bottom: 20px;
  padding-left:20px;
  padding-right:20px;
  left:50%;
  transform: translateX(-50%) ;
  width: 90%;
  text-align: center;
}
.tanxa:hover{
 color:black;
 text-decoration: none;
}

.main{
  margin:0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
}
.card-img-top{
   height: 250px;
   width: auto;
   position: relative;
   margin: 0 auto;
}
.card {
 height: 510px;
 width: auto;
  position: relative;
  border-radius: 15px;
  border:2px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #dddddd;
  
}
.card-body{
  margin:0 auto;
}

.carusel{
  order: 2;
  height: 510px;
  width:50%;
  position: relative;
  margin:0 auto;
  margin-top: 10px;
}

.btn-primary{
  color:rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  bottom:5px;
  width: 90%;
  margin: 0 auto;
  transition: 0.6s;
  border:1px solid black;
  background-image: linear-gradient(to top, rgb(0, 4, 255), rgb(255, 0, 0));
  
}
.btn-primary:hover{
border-radius: 20px;
width: 100%;
border:1px solid black;
box-shadow:0px 20px 30px 7px rgb(4, 0, 255);
}

.fa-shopping-cart{
  padding-top: 5px;
  color:rgb(36, 35, 35);
}
.gilaki2{
  margin-bottom:12px;
  position: relative;
  cursor: pointer;
  font-size: 30px;
  border:none;
  width: 180px;
  height: 40px;
  margin-top:4px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  
}

.slick-next {
  margin-left: 10px;
}
.slick-prev{
  margin-right: 0px;
}

.card-title{
  color: black;
}
.card-text{
  color: black;
}
.dzebna{
  height: 35px;
  transition: 1s;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 1.5px solid rgb(0, 0, 0);
}
.dzebna:hover{
  border-radius: 10px;
}

#inputName{
  width: 170px;
}
.navbar-toggler{
  margin:0 auto;
}


.gilaki{
  height: 35px;
  width: 60px;
  background-color: #fff;
  color:rgb(0, 0, 0);
  font-size: 16px;
  border: 1.5px solid rgb(0, 0, 0);
  font-weight: 600;
  padding-top: 3px;
  padding-left: 7px;
  text-align: center;
  justify-items: center;

}
.gilaki:hover{
  color:black;
  border:1.5px solid black;
  background-color: #fff;
  
}
.navbar{
  display: flex;
  justify-content: space-between;
  box-shadow:0 10px 50px 5px rgb(252, 252, 252);

}
.navbar-brand{
 font-size: 30px;
}


.nav-item{
  border-right: 1px solid rgb(0, 0, 0);
  transition: 0.5s;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  align-self: center;

}

.nav-item:last-child{
  border-right:none;
}
.nav-link{
  color:red;
  vertical-align: middle;
  text-align: center;
  align-self: center;
  text-align: center;
}

.nav-link:last-child{
  border-right: none;
}
.navbar-light .navbar-nav .nav-link {
color:rgb(0, 0, 0);
}
.navbar-light .navbar-nav .nav-link:hover{
  color:black;
}
.nav-item:hover {
  font-size: 20px;
}

.navbar-brand{
  padding-right: 10px;
  border-right: 8px double black;
}


.dropdown-menu{
  background-color:white;
}
.dropdown-item{ 
  border-bottom: 1px solid black;
  transition: 0.4s;
}
.dropdown-item:hover{
  transform: scale(1.2);
  background-color: rgb(199, 196, 196);
  border-radius: 20px;
  border-bottom: 1px solid  transparent;
}


.kalata{
  position:fixed;
  background-color: #fff;
  width: 100px;
  height:30px;
  border-radius: 10px;
  transition: 2s;
  right: -100px;
  text-align: center;
  color: #000000;
  border:1px solid rgb(0, 0, 0)
}


.kalata a{
  color:black;
}

.kalata2{
 right: 10px;
 top:90px;
 font-size: 18px;
 padding-left: 5px;
 padding-right: 5px;
 cursor: pointer;
 max-width: auto; 
 height: auto; 
 
}
.kalatasul{
  position:fixed;
  background-color: #fff;
  width: 100px;
  height:30px;
  border-radius: 10px;
  transition: 2s;
  right: -190px;
  text-align: center;
  border:1px solid rgb(0, 0, 0)
}
.kalatasul a{
  color:rgb(0, 0, 0);
}

.kalatasul2{
  right: 10px;
  top:150px;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  max-width: 80px; 
  height: auto; 
}


.gaukmeba1 {
  position: fixed;
  background-color: rgb(255, 255, 255);
  right: -490px;
  border-radius: 20px;
  transition: all 2s ease 0s;
  border:1px solid rgb(255, 0, 0)
}

.gaukmeba2 {
  color: rgb(77, 41, 41);
  font-size: 30px;
  right: 10px;
  width: 40px;
  height: auto;
  top: 235px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 2s ease 0s;
}

.zemot{
  top:-250px;
}


.lbl {
    position: relative;
    display: block;
    height: 20px;
    width: 44px;
    background: #898989;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin:0 auto;
  }
   
  .lbl:after {
    position: absolute;
    left: -2px;
    top: -3px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: rgb(255, 0, 0);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: 'off';
    font-size: 15px;
    text-align: center;
    transition: all 0.3s ease;
    font-weight: 100;
  }
  .lbl:active:after {
     transform: scale(1.15, 0.85);
     }
  .cbx:checked ~ label {
     background: #818080;
     }
  .cbx:checked ~ label:after {
    color: rgb(0, 0, 0);
    text-align: center;
    content: "on";
    left: 20px;
    background: #ffffff;
    font-weight: 200;
  }
  .cbx:disabled ~ label {
    background: #d5d5d5;
    pointer-events: none;
  }
  .cbx:disabled ~ label:after {
     background: #bcbdbc; 
    }
  .hidden { 
    display: none; 
  }
.darkbold{
  font-weight: 200;
  margin-left: 5px;
  padding-right: 5px;
  
}

.shidadark{
  color:rgb(192, 192, 192);
  background-color: #222222;
  box-shadow:0px 0px 20px 5px rgb(119, 118, 118);
  border:1px solid rgb(192, 192, 192);
}
.shidadark:hover{
  box-shadow:0px 0px 20px 10px rgb(156, 156, 156);
  border:1px solid rgb(192, 192, 192);
}


@media screen and (max-width: 616px) {
  
  .short {
    font-size: 14px;
  }

  .carusel{
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  
  .image {
    position: absolute;
    right: 0px;
    margin-right: 10px;
  }
  .media {
    position: block;
    display: flex;
    justify-content: space-between;
  }
  
  
}

@media screen and (max-width:991px){
  .nav-item{
    border: none;
    width: 100%;
    margin:0 auto;
    width: 40%;
  }
  
  .nav-item:hover{
    border:none;
  }
  .nav-link{
   display: flex;
   justify-content: center;
   margin:0 auto;
   border: none;
   border-bottom: 1px solid black;
  }
  .nav-item:first-child{
    border:none;
    margin:0 auto;
  }
  .dzebna{
    width:40%;
  }
  .search{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .navbar-brand{
    border:none;
  }
  
  
}

@media screen and (max-width:1165px){
  .nav-item{
  }
  
  

  .navbar-brand{
    display: none;
  }

}



